/* div:hover{
    background-color: whitesmoke;
    color:#1C1824        
} */

.hover:hover {
    background-color: white;
    color:#1C1824 
}

.hover:hover div{
    background-color: white;
    color:#1C1824 
}

.hover:hover{
    color:#1C1824
}

.hover:hover .text{
    color:#1C1824
  }

.text{
    color: #1C1824;
    text-transform: uppercase
}

