.order{
    position: absolute;
    border: 1px dashed black;
    height: 400px;
    padding: 20px;
    border-radius: 20px;

    .title{
        border-bottom: 1px solid black;
        width: 115px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(28, 24, 36, 0.8);
        color:rgba(28, 24, 36, 1);
        font-weight: 600;
    }

    .total{
        position: absolute;
        bottom: 15px;
        width: 100%;
        padding-right: 40px;
        font-weight: 600;
    }

    @media screen and (max-width: 768px) {
        position: relative;
        right: unset;
        width: 100%;
        margin-top: 30px;
      }      
}