
.main{
    min-height: calc(100vh - 173px);
    padding: 20px 40px 40px 40px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

@keyframes typing {
    from {
      width: 0;
    }
  }
@keyframes blink {50% { border-color: transparent}}
  
.typing-effect {
animation: typing alternate 2s steps(12), blink .5s infinite step-end alternate;
overflow:hidden;
}

.span{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 16ch;
}

.icon-container {
  width: 135px;
  height: 105px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.icon {
  /* width: 100px; */
  height: fit-content;
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translate(-50%, -50%);
  /* background-color: #000; */
  border-radius: 12px 0px 0px 12px;
  -webkit-animation: move 2s infinite linear alternate;
  animation: move 2s infinite linear alternate;
  font-size: 24px;
  font-family: monospace;
  line-height: 15px;
  font-weight: 600;
  color: #008000;
  border: 2px solid rgba(1, 170, 55, 0.6);
  border-right: unset;
  padding: 14px;
  
}

.icon-close{
  /* width: 100px; */
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
  /* background-color: #000; */
  border-radius: 12px 0px 0px 12px;
  -webkit-animation: move 2s infinite linear alternate;
  animation: move 2s infinite linear alternate;
  font-size: 24px;
  font-family: monospace;
  line-height: 15px;
  font-weight: 600;
  color: #f44336;
  border: 2px solid rgba(202, 12, 3, 0.6);
  border-right: unset;
  padding: 14px;
  
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(45px);
  }
}


